.main {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 270px; 
    background-color: #f9f9f9;
    transition: padding-left 0.5s ease;
  }
  
.sidebar.collapsed + .main {
    padding-left: 90px; 
}
  
.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;
    color: #585858;
    top: 0;
    background-color: inherit;
    position: fixed;
}

.nav img {
    width: 35px;
    border-radius: 50%; 
}

.main_container {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 120px;
}

.greet {
    margin: 50px 0;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    text-align: center;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chat_display {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-bottom: 15px;
}

.chat_message {
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat_message.user {
    background-color: #578adc;
    color: #ffffff;
    align-self: flex-end;
    padding: 10px 15px; 
    border-radius: 15px;
    display: inline-block;
    max-width: 80%; 
    width: auto; 
    word-wrap: break-word;
}

.chat_message.bot {
    background-color: #f1f1f1;
    align-self: flex-start;
    /* font-style: italic; */
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: #ededed;
    padding: 10px 20px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    z-index: 1000;
}

.search_box img{
    width: 24px;
    cursor: pointer;
}

.search_box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px
}

.search_box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom_info{
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    max-width: 800px;
    position: fixed; 
    bottom: 0; 
    z-index: 999;
    background-color: inherit; 
    width: 100%;
    padding: 10px;
}