.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  width: 250px;
  position: fixed;
  transition: width 0.5s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebar .menu:hover {
  transform: scale(1.4);
  opacity: 0.8;
}

.sidebar .new_chat,
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #c4cfe3;
  border-radius: 50px;
  font-size: 14px;
  color: #e6eaf1;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar .new_chat:hover,
.search:hover {
  background-color: #003cbf;
  transform: translateY(-2px);
  color: #ffffff;
}

.sidebar .recent {
  flex-direction: column;
  display: flex;
}

.sidebar .recent_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent_entry {
  position: relative;
  align-items: start;
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  color: #282828;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.sidebar .recent_entry:hover {
  background-color: #e6eaf1;
  color: #005eff;
  transform: translateX(8px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .recent_entry .icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
}


.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom_item {
  padding-right: 10px;
  cursor: pointer;
}

/* Popup menu */
.more-menu {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 150px;
  z-index: 10;
}

/* Menu item alignment */
.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  color: #282828;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.menu-item img {
  margin-right: 15px; 
}

.menu-item:hover {
  background-color: #f0f4f9;
  color: #003cbf;
}

.menu-item.delete {
  color: red; 
}

.menu-item.delete:hover {
  background-color: #ffcccc; 
  color: #b30000; 
}
